<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa rem facilis quisquam minus nobis quos blanditiis totam eveniet, soluta itaque odit unde neque. Officia, illum ratione natus magnam harum perferendis.
                    </p>
                </div>
            </div>
        <div class="text-center mb-2">
            <a href="#" class="text-white me-4">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="bi bi-google"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="#" class="text-white me-4">
                <i class="bi bi-github"></i>
            </a>
            
        </div>
        </div>
    </div>
</footer>